{{!-- <h2>{{card-data.name}}</h2>
<b>{{card-data.date}}</b>
<i>{{card-data.venue}}</i> --}}

<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title grey-text text-darken-1" style="font-weight: 600">Card Title</span>
    <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
  </div>
  
  <div class="card-action" style="text-align:right; border:none; padding-bottom:10px">Event is still a billion light years away.</div>

  <div class="card-action" style="float:right">
    <a href="#">This is a link</a>
    <a href="#">This is a link</a>
  </div>
</div>