<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
        {{#each model.events as |event|}}
          <div>{{invited-card-summary card-data=event decline="decline" accept="accept"}}</div>

        {{else}} 

        Boohoo, nobody has invited you to any events :(

        {{/each}}     
    </div>
  </div>
</div>



