<div class="container">
  <div class="row">
    <div class="col m10 offset-m1">          
      {{invited-card-details card-data=model.eventDetails invitation-data=model.invitationDetails
      accept="accept" decline="decline"}}
    </div>
  </div>
</div>

