<div class="container">
  <div class="row">
    <div class="col m10 offset-m1">
      {{!-- TODO: implement errorMessage --}}
      {{errorMessage}}
      {{event-form action="createEvent" event=event}} 
      {{#link-to 'events.hosting' class="waves-effect waves-light btn grey"}}Back{{/link-to}}
    </div>    
  </div>  
</div>
