<div class="container">
  <div class="row">
    <div class="col m10 offset-m1">
      {{!-- TODO: implement errorMessage --}}
      {{errorMessage}}
      {{event-form action="createEvent" event=event}} 
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>