<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1">          
      {{hosting-card-details card-data=model.eventDetails invitation-data=model.invitationDetails}}
    </div>
  </div>
</div>

