<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">          
      {{hosting-details-card card-data=model}}
    </div>
    <div class="col m8 offset-m2">          
      {{#link-to 'events.hosting' class="waves-effect waves-light btn grey"}}Back{{/link-to}}
    </div>
  </div>
</div>