{{!-- https://www.google.com/design/icons/ --}}

{{!-- Navbar --}}
<nav class="z-depth-0 blue darken-1">
  <div class="nav-wrapper">
    {{!-- <a href={{'/'}} class="brand-logo" id="event-header">Envite</a> --}}
    <a href="#" class="button-collapse hide-on-med-and-up"><i class="mdi-action-list"></i></a>
    <ul class="side-nav">
      <li><a href="sass.html">Settings</a></li>
      <li><a href="badges.html">Logout</a></li>
    </ul>
    <ul id="nav-mobile" class="hide-on-small-and-down">
      <li><a href="#"><i class="mdi-action-settings" id="inline-icon"></i> Settings</a></li>
      <li><a {{action 'invalidateSession'}} style="cursor:pointer">Logout</a></li>
    </ul>
    <ul id="nav-mobile" class="right">
      <li class="disabled">{{#link-to 'index' class='create-event-button'}}<i class="mdi-action-stars" id="inline-icon"></i> Create an event!{{/link-to}}</li>
    </ul>
  </div>
</nav>

{{!-- Tabs --}}
<div class="row">
  <div class="col s12">
    <ul class="tabs hide-on-small-only">
      <li class="tab col s3">{{#link-to 'events.hosting'}}Hosting{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'events.pending'}}Pending{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'events.responded'}}Responded{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'events.notifications'}}Notifications{{/link-to}}</li>
    </ul>
    <ul class="tabs hide-on-med-and-up">
      <li class="tab col s3">{{#link-to 'events.hosting'}}<i class="mdi-social-group-add"></i>{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'events.pending'}}<i class="mdi-content-reply-all"></i>{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'events.responded'}}<i class="mdi-image-edit"></i>{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'events.notifications'}}<i class="mdi-social-notifications"></i>{{/link-to}}</li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
  $(".button-collapse").sideNav();
</script>

