<script type="text/javascript">
  $(document).ready(function(){
    $('ul.tabs').tabs();
});
</script>

<nav class="z-depth-0 blue darken-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" id="event-header">Envite</a>
    <ul id="nav-mobile" class="right">
      <li class="disabled"><a href="#" class="create-event-button"><i class="mdi-action-stars" id="star-icon"></i> Create an event!</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col s12">
    <ul class="tabs hide-on-small-only">
    <li class="tab col s3">{{#link-to 'index'}}Hosting{{/link-to}}</li>
      <li class="tab col s3"><a href="#pending">Pending</a></li>
      <li class="tab col s3"><a href="#responded">Responded</a></li>
      <li class="tab col s3"><a href="#notifications">Notifications</a></li>
    </ul>
    <ul class="tabs hide-on-med-and-up">
      <li class="tab col s3"><a class="active" href="#hosting" onclick="function(){alert('hello');}"><i class="mdi-social-group-add"></i></a></li>

      <li class="tab col s3"><a href="#pending"><i class="mdi-content-reply-all"></i></a></li>
      <li class="tab col s3"><a href="#responded"><i class="mdi-image-edit"></i></a></li>
      <li class="tab col s3"><a href="#notifications"><i class="mdi-social-notifications"></i></a></li>
    </ul>
  </div>
</div>

