<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
        <div id="hosting">
          {{#each model as |event|}}
            <div>{{summary-card card-data=event}}</div>
          {{/each}}
       </div>
    </div>
  </div>
</div>
{{!-- 
This is the session key: {{sessionKey}}
<br>
This is the username: {{username}} --}}

{{!-- f5f5f5 --}}