<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
        <div id="hosting">
          {{#each model as |event|}}
            <div>{{summary-card card-data=event}}</div>
          {{/each}}
       </div>
    </div>
  </div>
</div>

{{sessionKey}}

{{!-- f5f5f5 --}}