<link rel="stylesheet" type="text/css" href="landing_page.css">

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Envite</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">A simpler way to host events and invite others</h5>
      </div>
      <div class="row center">
        <a href={{'login'}} id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">Log in</a>
        <a href={{'register'}} id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Register</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="background1.jpg" alt="Header Background"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center grey-text"><i class="mdi-action-account-circle"></i></h2>
          <h5 class="center">Register</h5>

          <p class="light">Sign up for an account and create your event on Envite. Don't worry, we don't require an email. Just a simple username and password will do.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center grey-text"><i class="mdi-social-group-add"></i></h2>
          <h5 class="center">Invite</h5>

          <p class="light">Send out the invitation link to the friends you want to invite, and they can choose to accept, reject or suggest alternatives to the event.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center grey-text"><i class="mdi-social-mood"></i></h2>
          <h5 class="center">Have fun!</h5>

          <p class="light">What are you waiting for? Go out with your friends after the event details have been settled and agreed upon!</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container valign">
      <h1 class="header center white-text">Register now</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">And try Envite for yourself</h5>
      </div>
      <div class="row center">
        <a href={{'register'}} id="download-button" class="btn-large waves-effect waves-light blue">Register</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="background2.jpg" alt="Insert Background"></div>
</div>

<footer class="page-footer blue" style="margin-top:0px!important">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Awesome Pipeline</h5>
        <p class="grey-text text-lighten-4">We are a team of two working on NUS Orbital'15 programme for the summer. Do check out our blog and our Github repository.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" href="http://awesomepipeline.wordpress.com/">Blog</a></li>
          <li><a class="white-text" href="https://github.com/awesomepipeline">Github</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">About us</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/chunqi">Chunqi</a></li>
          <li><a class="white-text" href="https://github.com/mxchai">Ming Xuan</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-4" href="http://materializecss.com">Materialize</a>. Background images courtesy of <a href="https://unsplash.com/" class="brown-text text-lighten-4">unsplash.com</a>.
    </div>
  </div>
</footer>

<script type="text/javascript">
  $(document).ready(function() {
    $('.parallax').parallax();
  });
</script>
