<div class="container">
  <div class="row">
    <div class="col m8 offset-m2 center">
      <div class="preloader-wrapper big active" id="materialize_loader">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




