{{input type="text" placeholder="Email" value=email}}
{{input type="password" placeholder="Password" value=password}}
<button {{action "registerUser"}}>Submit</button>

<div>
  {{errorMessage}}
</div>